<ion-header>
  <ion-navbar  color="teal" >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>DOG MEET</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">

  <ion-row>
    <ion-col text-center>
      <img src =  "./assets/dogmeet-logo.png"/>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col text-center>
      <a href="#" class="Title">Welcome Paige!</a>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col text-center>
      <a href="#" class="email">paige11@gmail.com</a>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col text-center>
    <img class="user-avatar round" src =  "./assets/Paige.png" height="100"/>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col text-center>
      <button ion-button round>ADOPT A DOG</button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col text-center>
      <button ion-button round>FIND A DOG FRIEND</button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col text-center>
      <a href="..src/pages/components/dogpath.html" class="button button-outline button-positive">FIND A DOG FRIEND</a>
    </ion-col>
  </ion-row>

<button ion-button (click)="YourFancyButton">Button</button>



</ion-content>
