// Montserrat Font
// Google
// Apache License, version 2.0
// http://www.apache.org/licenses/LICENSE-2.0.html

$montserrat-font-path: $font-path !default;

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: local("Montserrat-Black"), local("Montserrat-Light"), url("#{$montserrat-font-path}/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat-Regular"), local("Montserrat-Regular"), url("#{$montserrat-font-path}/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local("Montserrat-Medium"), local("Montserrat-Medium"), url("#{$montserrat-font-path}/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat-Bold"), local("Montserrat-Bold"), url("#{$montserrat-font-path}/Montserrat-Bold.ttf") format("truetype");
}
