<ion-header no-border>
  <ion-navbar transparent color="teal">
    <button ion-button menuToggle>
      <ion-icon name="menu" color="light"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content fullscreen="true" no-padding >

    <div class="profile-box">
        <div text-center>
            <img [src]="profilePicture" class="edit-avatar pop-in" alt="">
            <p class="name-text">{{(profile | async)?.name}}</p>
        </div>
    </div>

    <div padding>
        <ion-list no-lines >
            <ion-item>
                <ion-icon name="ios-mail" item-left></ion-icon>
                <h2>{{(profile | async)?.email}}</h2>
                <p>E-mail</p>
            </ion-item>

            <ion-item>
              <ion-icon name="ios-card" item-left></ion-icon>
              <h2>{{(profile | async)?.name}}</h2>
              <p>Name</p>
            </ion-item>

            <ion-item>
              <ion-icon name="ios-call" item-left></ion-icon>
              <h2>{{(profile | async)?.phone}}</h2>
              <p>Mobile phone</p>
            </ion-item>

            <ion-item>
              <ion-icon name="md-finger-print"  item-left></ion-icon>
              <h2>{{uid}}</h2>
              <p>Firebase uid</p>
            </ion-item>
        </ion-list>

        <button ion-button block color="blue2" (click)="logout()">
          Logout
        </button>
    </div>

</ion-content>
