<ion-header>
  <ion-navbar  color="teal" >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dog Information</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">

  <ion-row>
    <ion-col text-center>
        <p>Do you already have a dog?</p>
        <p>(telling us helps!)</p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col text-center>
        <button ion-button round>YES</button>
    </ion-col>
  </ion-row>

  <ion-row>
      <ion-col text-center>
          <button ion-button round>NO</button>
      </ion-col>
  </ion-row>

</ion-content>
