<ion-header>
  <ion-navbar color='teal'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title><h3> <strong>Pack Search</strong> </h3></ion-title>

    <ion-item>
      <ion-label>Age</ion-label>
      <ion-select [(ngModel)]="age" multiple="true">
        <ion-option>Baby</ion-option>
        <ion-option>Youth</ion-option>
        <ion-option>Adult</ion-option>
        <ion-option>Senior</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Gender</ion-label>
      <ion-select [(ngModel)]="gender">
        <ion-option value="g">Girl</ion-option>
        <ion-option value="b">Boy</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Size</ion-label>
      <ion-select [(ngModel)]="size" multiple="true">
        <ion-option value="s">Small</ion-option>
        <ion-option value="m">Medium</ion-option>
        <ion-option value="l">Large</ion-option>
        <ion-option value="xl">Extra Large</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Friends</ion-label>
      <ion-select [(ngModel)]="friendly" multiple="true">
        <ion-option value="k">Kids</ion-option>
        <ion-option value="c">Cats</ion-option>
        <ion-option value="d">Dogs</ion-option>
      </ion-select>
    </ion-item>

  </ion-navbar>

  <ion-toolbar color="cyan">
      <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content >

  <ion-list>
    <ion-item *ngFor="let contact of contactList">


        <img item-start width="120" height="120" [src]="contact.img">

      <h1>  <strong item-start>{{ contact.name }}</strong> </h1>
      <h3> Age : <strong>{{ contact.age }}</strong> </h3>
      <h3> Gender : <strong>{{ contact.gender }}</strong> </h3>
      <h3> Size : <strong>{{ contact.size }}</strong> </h3>
      <h3> Type : <strong>{{ contact.type }}</strong> </h3>
      <h3> Friendly : <strong>{{ contact.friendliness }}</strong> </h3>
      <h3> Shelter : <strong>{{ contact.shelter }}</strong> </h3>
    </ion-item>
  </ion-list>
</ion-content>
