<ion-header>
  <ion-navbar  color="teal" >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>YOUR DOG</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">

  <img class="user-avatar round" src =  "./assets/yourdog.png"/>
  <p> NAME:  Peppers</p>
  <p> AGE:  2</p>
  <p> GENDER: Female </p>
  <p> ENERGY LEVEL: High </p>
  <p> PLAY STYLE: Wrestling</p>


    <button ion-button round>SUBMIT</button>


</ion-content>
