
<ion-header >
  <ion-navbar color='teal' no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
       Timeline
    </ion-title>
    <ion-buttons start hideWhen="ios">
        <button ion-button icon-only color="light">
            <ion-icon name="notifications"></ion-icon>
        </button>
    </ion-buttons>
    <ion-buttons right>
        <button ion-button icon-only>
            <ion-icon name="md-more"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content no-padding>

 <ion-list>
  <ion-item-group>
      <div stlye="timelineBg" *ngFor="let timeline of timeline  | async" >
          <!--***********  item divider  ***********-->
          <ion-item-divider sticky>  <!-- *ngFor GroupTitle for feeds -->
            <ion-label>
              <h2>Jaspers History</h2>
              <h2>{{timeline.date | date: 'fullDate'}}</h2>
            </ion-label>
          </ion-item-divider>

          <ul class="timeline">
              <li   *ngFor="let list of  timeline.lists | async ">
                <img src="../assets/IMG_2680.png" alt="" class="timeline-thumb pop-in">
                <div class="timeline-item">
                  <p><strong>Jasper Play Date</strong></p>
                  <p>Jasper had a play date with volunteer</p>
                  <img src='../assets/Messages-Image(1527158476).png' class="imageTimeline">
                  <div class="timeline-stats">
                    <ion-icon name="heart"></ion-icon> 2,450
                    <span class="pos-absolute-right"><ion-icon name="clock"></ion-icon> 2 mins ago</span>
                  </div>
                </div>
              </li>
          </ul>
      </div>
  </ion-item-group>
</ion-list>

<ion-fab right bottom>
  <button ion-fab color="amber"><ion-icon name="md-calendar"></ion-icon></button>
</ion-fab>

</ion-content>
