

// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";

@import url('https://fonts.googleapis.com/css?family=Montserrat');



// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #9de8e1,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
darkGray:   #333333,



  special-blue:(
    base: #0059B2,
    contrast: #ffffff
  ),
  twitter:(
    base: #55acee,
    contrast: #ffffff
  ),
  white:(
    base: #ffffff,
    contrast: #222
  ),
  ios:(
    base: #ffffff,
    contrast: #84BF41
  ),
  red:(
    base: #f44336,
    contrast: #ffffff
  ),
  pink:(
    base: #EA1E63,
    contrast: #ffffff
  ),
  purple:(
    base: #9c27b0,
    contrast: #ffffff
  ),
    deeppurple:(
    base: #673ab7,
    contrast: #ffffff
  ),
    indigo:(
    base: #3f51b5,
    contrast: #ffffff
  ),
    blue :(
    base: #2196f3,
    contrast: #ffffff
  ),
    blue2:(
      base: #0034a7,
      contrast: #ffffff
    ),
    lightblue:(
    base: #03a9f4,
    contrast: #ffffff
  ),
    cyan:(
    base: #00bcd4,
    contrast: #ffffff
  ),
    teal:(  //changed to our color for DogMeet
    base: #9de8e1,
    contrast: #ffffff
  ),
    green:(
    base: #4caf50,
    contrast: #ffffff
  ),
    lightgreen:(
    base: #8dc34b,
    contrast: #ffffff
  ),
      lime:(
    base: #cddc39,
    contrast: #333
  ),
      yellow:(
    base: #ffeb3b,
    contrast: #333
  ),
      amber:(
    base: #ffc107,
    contrast: #fff
  ),
      orange:(
    base: #ff9800,
    contrast: #ffffff
  ),
      deeporange:(
    base: #ff5722,
    contrast: #ffffff
  ),
      brown:(
    base: #795548,
    contrast: #ffffff
  ),
      gray:(
    base: #9e9e9e,
    contrast: #ffffff
  ),
      bluegray:(
    base: #607d8b,
    contrast: #ffffff
  ),
      black:(
    base: #000000,
    contrast: #ffffff
  ),
      ios-gray:(
    base: #8e8e93,
    contrast: #ffffff
  ),
    ios-torquise:(
    base: #9de8e1,
    contrast: #ffffff
  ),
    ios-lightblue:(
    base: #5ac8fa,
    contrast: #ffffff
  ),
      ios-blue :(
    base: #007aff,
    contrast: #ffffff
  ),
      ios-yellow:(
    base: #ffcc00,
    contrast: #ffffff
  ),
      ios-orange:(
    base: #ff9500,
    contrast: #ffffff
  ),
      ios-pink:(
    base: #ff2d55,
    contrast: #ffffff
  ),
      ios-green:(
    base: #4cd964,
    contrast: #ffffff
  ),
      ios-red:(
    base: #ff3b30,
    contrast: #ffffff
  )
);
$text-input-md-show-focus-highlight: false;


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------
//@import "roboto";
//@import "montserrat";
//@import "noto-sans";
