<ion-header>
  <ion-navbar  color="teal" >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Notifications</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">

  <ion-list radio-group>
    <ion-list-header>
    Events
    </ion-list-header>

    <ion-item>
      <ion-label>Events</ion-label>
      <ion-radio checked="true"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Dog Meetups</ion-label>
      <ion-radio></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Monthly Newsletter</ion-label>
      <ion-radio></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>New Product</ion-label>
      <ion-radio></ion-radio>
    </ion-item>
  </ion-list>

  <ion-list radio-group>
    <ion-list-header>
      Auto-Lock
    </ion-list-header>

    <ion-item>
      <ion-label>Enable "Never"</ion-label>
      <ion-toggle (ionChange)="isDisabled = !isDisabled"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>1 Minute</ion-label>
      <ion-radio></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>2 Minutes</ion-label>
      <ion-radio checked></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>5 Minutes</ion-label>
      <ion-radio></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Never</ion-label>
      <ion-radio [disabled]="isDisabled"></ion-radio>
    </ion-item>
  </ion-list>

  <ion-list radio-group>
    <ion-list-header>
      Silence
    </ion-list-header>

    <ion-item>
      <ion-label>Always</ion-label>
      <ion-radio></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Only while phone is locked</ion-label>
      <ion-radio checked="true"></ion-radio>
    </ion-item>
  </ion-list>

</ion-content>
