<ion-header no-border>
  <ion-navbar transparent>
    <button ion-button menuToggle>
      <ion-icon name="menu" color="teal"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="login-container">
    <img class="logo" src="./assets/dogmeet-logo.png" />

    <!--*********** Form ***********-->
    <form [formGroup]="loginForm" (submit)="login()" novalidate>
      <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input tappable color="teal" #email type="email" formControlName="email" [class.invalid]="!loginForm.controls.email.valid &&loginForm.controls.email.dirty">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input tappable #password type="password" formControlName="password" [class.invalid]="!loginForm.controls.password.valid &&loginForm.controls.password.dirty">
        </ion-input>
      </ion-item>

      <ion-item class="error-message">
        <p *ngIf="!loginForm.controls.email.valid  &&
                loginForm.controls.email.dirty">*Please enter a valid email.</p>
        <p *ngIf="!loginForm.controls.password.valid  &&
                loginForm.controls.password.dirty">*Password needs more than 6 characters.</p>
      </ion-item>

      <div class="submit-box">
        <button ion-button block type="submit" color="teal">Log in</button>

        <button ion-button type="button" block icon-left color="teal" outline (click)="createAccount()" margin-top>
            <ion-icon name="ios-create"></ion-icon> Create new account
        </button>
      </div>
    </form>
  </div>

</ion-content>
<ion-footer>
  <button class="bottom" ion-button  type="button"  clear full color="teal" (click)="forgot()">Forgot your password? </button>
</ion-footer>
